<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/happy_meal.png" alt="" />
  </div>
  <div class="headings">
    <h2>Yummy Mummy Recipes</h2>
    <h3>A Taste of Pure Bliss</h3>
    <a href="/meals" class="btn">View Recipes</a>
  </div>
</header>

<%- include('partials/footer'); -%>
