<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon" />
    <h4>Strawberry Boost</h4>
    <p>Strawberry, Vanilla ice cream, Milk</p>
  </li>
  <li class="recipe">
    <img src="/burger.png" alt="burger recipe icon" />
    <h4>Double Burger</h4>
    <p>Lettuce, Tomato, beef, bread</p>
  </li>
  <li class="recipe">
    <img src="/turkey.png" alt="Turkey recipe icon" />
    <h4>Stuffed Turkey</h4>
    <p>Turkey, Peanut butter, Rice, Tomatoes, Olive oil</p>
  </li>
  <li class="recipe">
    <img src="/plate.png" alt="plate recipe icon" />
    <h4>Healthy Boost</h4>
    <p>Tilapia, Kale, Mint, Corriander</p>
  </li>
  <li class="recipe">
    <img src="/happy_meal.png" alt="smoothie recipe icon" />
    <h4>Happy Meal</h4>
    <p>Fries, Burger, Apple juice</p>
  </li>
  <li class="recipe">
    <img src="/steak.png" alt="smoothie recipe icon" />
    <h4>Protein Packer</h4>
    <p>Sirloin Steak, Peanut butter, Salt, Pepper, Corriander</p>
  </li>
</ul>

<%- include('partials/footer'); -%>
